body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */   
}

/* header and nav bar */

.header-container {
    display: flex;
    background-color: #E5E5E5;
    padding: 20px;
    margin: 0px;
    justify-content: center;
}

.header-inner-container {
    display: flex;
    width: 1020px;
    /* align-items: center */
}

.nav-menu {
    padding: 5px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav-list {
    font-family: "Roboto";
    font-weight: 210;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
    padding: 0px;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
}

.social-menu {
    margin-left: auto;
    padding: 5px;
    display: flex;
    align-items: center;
}

.social-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 0px;
}

.social-list img {
    width: 35px;
    height: auto;
    display: block
}

/* main content */
main {
    display: flex;
    justify-content: center;
    flex: 1;

}
.center-container {
    /* display: flex; */
    margin: 0px 10px 0px 10px;
    max-width: 1000px;
    align-items: top;
}

.center-inner-container {
    display: flex;
    margin-top: 50px;
    gap: 35px;
}

.intro-text {
    flex: 1.5;
    height: fit-content;
}

.intro-text h1 {
    font-family: "Inter";
    font-weight: bold;
    font-size: 44px;

}

.intro-text p {
    font-family: "Inter";
    font-size: 16px;
    color: #454444;
}

.head-image {
    flex: 1;
    max-width: 300px;
    max-height: 300px; /* Optional: adjust to your desired circle size */
    aspect-ratio: 1; /* Enforces square shape */
    border-radius: 50%;
    overflow: hidden;   /* Ensures the image is clipped to the circle */
}

.head-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Crop the image to fill the circle */
    display: block;
}

footer {
    display: flex;
    background-color: #E5E5E5;
    justify-content: center;
    flex-shrink: 0;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 210;
    color: #343434;
    margin: 10px;
}


/* News page css */

.title-text-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-text-container h1 {
    font-family: "Roboto";
    font-weight: 210;
    font-size: 44px;
}

.news-content {
}

.news-list {
    font-family: "Roboto";
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-list-item {
    display: grid;
    font-size: 22px;
    grid-template-columns: 170px auto;
    gap: 0px;
    padding: 15px;
}

.news-list-item-date {
    display: flex;
    font-weight: bold;
}

.news-list-item-content {
    display: flex;
    align-items: center;
}

/* News page css */
.research-content {
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

.research-content ul {
    list-style: none;
    padding: 0;
}
.research-content h2 {
    font-size: 36px;
    font-weight: bold;
}

.research-content p {
    font-size: 24px;
}

.research-category {
    padding-left: 15px;
}