<header>
  <div class="header-container">
    <div class="header-inner-container">
      <nav class="nav-menu">
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/research/">Research</a></li>
        </ul>
      </nav>

      <nav class="social-menu">
        <ul class="social-list">
          <li><a href="https://github.com/dillonloh"><img src="/static/github-sign.png" /></a></li>
          <li><a href="https://www.linkedin.com/in/dillonloh/"><img src="/static/linkedin.png" /></a></li>
          <li><a href="https://www.instagram.com/datshuaige"><img src="/static/instagram.png" /></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
